@model List<Category>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-white">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-dark">
                <i class="bi bi-cart-plus-fill"></i>  Add Category
            </a>
        </div>
    </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Display Order</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.DisplayOrder</td>
                    </tr>
                }

            </tbody> 
        </table>
   
</div>


@* the @ sign allows you write c# code in your views this is primarily meant for html only *@